.comment-list-container {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  background: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  
  // Custom Scrollbar
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #bcc0c4;
    border-radius: 4px;
  }

  .no-comment {
    text-align: center;
    color: #888;
    margin-top: 40px;
    font-style: italic;
  }

  .loading-more-spinner {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
}